<!DOCTYPE html>
<html>
<head>
	<title>Strata Issue Tracker</title>
</head>
<style>
h1 {
	color: #FF8C00;
	font-family: Arial;
}
h2 {
	font-family: Arial;
}
p {
	font-family: Arial;
}
</style>
<body>
	<center>
		<h1>Strata Issue Tracker</h1>
		<br>
		<br>
		<form action="{{ url_for('create') }}">
		    <input type="submit" value="Raise New Issue" />
		</form>
		<br>
		<h2>Current Issues</h2>
		{% for key, value in results_dict.items() %}
		<p><b>ID</b>: {{ key }} | <b>Name</b>: {{ value }} | <a href="{{ url_for('edit')}}/{{ key }}">Edit</a></p>
		{% endfor %}
	</center>
</body>
</html>